.cardContainer {
    width: 716px;
    height: 974px;

    background-color: #FAF4F4;
    filter: drop-shadow(0px 0px 4px #000000);

    border-radius: 12px;

    margin-left: 1rem;
}

.mainImage {
    width: 650px;
    height: 416px;

    border-radius: 12px;
    filter: blur(2px);

    object-fit: cover;
}

.discImage {
    position: absolute;
    width: 400px;
    height: 250px;
}

.innerImage{
    position: absolute;
    width: 70px;
    height: 70px;

    border-radius: 5rem;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}